@import "variables.scss";

.main-header {
    background-color: $container-main-black;
    color: $panel-header-title-color;
}

.secondary-content {
    background-color: $container-main-black;
    color: $container-main-white;
}